{% extends "base.html" %}

<!-- to show tab name"Search Results " when opening web page -->
{% block title %} 
  LOAN SUMMARY REPORT 
{% endblock %} 

{% block content %}
<!-- code in here to generate serch results in a browser-->
<h2>Loan summary report </h2>


<!-- class="table table-striped table-hover" is use of bootstrap library to make each row striped and hoverable -->
<table class="table table-striped table-hover table-bordered">
    <tr><th>Book Title</th><th>loantimes</th></tr>
    
    {% for item in loanlist %}
        <tr>
            {% for entry in item %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    
</table>

{% endblock %}